// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables'; 

@tailwind base;
@tailwind components; 
@tailwind utilities;   

@import 'accordion'; 
@import '404'; 
@import 'select2';

.select2-container--default .select2-selection--single{
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255 / var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    border-color: #e5e7eb;
    @apply text-left text-sm text-gray-600 ;
    height: 38px;
    @apply flex items-center
}

.select2-selection__clear{
    @apply pl-3;
}

.select2-dropdown {
    @apply text-left text-sm text-gray-600 border w-60 px-2 py-1 rounded-md outline-none bg-blue-50 z-50;
}

.select2-container--default.select2-container--disabled .select2-selection--single{
    background-color: rgb(254 242 242 / 0.7);
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__rendered{
    color: rgb(75 85 99 / 0.7);
}

.select2-container *:focus {
    outline: none;
}


select {
    cursor:pointer;
}

select:disabled {
    background-color: rgb(254 242 242 / 0.7);
}

.contenedor:hover .logo {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    transition:all .3s ease-in-out;
    border-radius:10%;
    -webkit-border-radius:10%;
    box-shadow: 0px 0px 5px 5px #ffffff;
    -webkit-box-shadow: 0px 0px 5px 5px #ffffff;
}

.contenedor .logo{
    transition:all .3s ease-in-out;
    overflow:hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 120px;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    @apply text-sm font-bold;

    box-shadow: 0px 0px 5px 5px #ffffff;
    -webkit-box-shadow: 0px 0px 5px 5px #ffffff;
   
    position: absolute;
    z-index: 1;

    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-bottom: -110px;
    opacity: 70%;

    transition:all .1s ease-in-out;

}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.5s;
}

.clip-bottom {
    clip-path: polygon(100% 50%, 0 0, 100% 0, 50% 100%, 0 0)
}    

.swal-height {
    height: 90vh;
  }